/docs/
/src/
/test/
/.vscode/
/.github/
/build/

yarn.lock
README.md
CODE_OF_CONDUCT.md
CHANGELOG.md
.prettierrc
.npmrc
.npmignore
.gitignore
.eslintignore
.eslintrc.js
tsconfig.json
rollup.config.js
LICENSE
